// Place all the styles related to the ChatMessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	font-family: sans-serif;
	overflow: hidden;
}

#chat {
	overflow: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 40px;
	width: 100%;

	margin-left: 10px;

	p {
		margin-bottom: 0;
	}
	.user-name {
		font-weight: bold;
	}

	.message {
		margin-top: 0;
		margin-left: 10px;

		span {
			font-size: 8pt;
			font-weight: normal;
			font-style: italic;
			color: #999;
		}
	}
}

#footer {
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;

	height: 40px;
	width: 100%;
	padding-left: 10px;

	background-color: #7EBEE0;

	form {
		margin-top: 10px;	
	}
}