<!DOCTYPE html>
<html>
<head>
  <title>RealtimeChat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="http://js.pusherapp.com/1.8/pusher.min.js"></script>
</head>
<body>

<%= yield %>

</body>
</html>
